.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 0.2s;
}

.menu.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content {
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.menu__header {
    font-size: 2rem;
    color: red;border-bottom: 1px solid red;
    padding: 10px;
    width: 100%;
    text-align: center;

}

ul li a {
    color: red;
    text-decoration: none;
}

ul {
    text-align: center;
    padding: 5px;
}

ul li {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .menu__content {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
}